.sli{

    margin-top:12vh;
    margin-left:10vw;
    width:32vw;
   
    
}
.bor{
        background: white;
        width:100%;
        border-top: none ; 
        border-left: none; 
        border-right: none; 
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); 
        position:sticky;
        top:0;
        z-index:1000;
        
        
}

.boe{
    height:100px;
}
.im{
    width:25vw;
    height:50vh;
}

.car{
   
    height:30vh;
    width:20vw;
    border:1px solid rgb(255, 255, 255);
    border-radius:3px;
    text-align:center;

}

